In [3]:
import csv
import pandas as pd
from pandas import read_csv, DataFrame
from numpy.random import seed
from sklearn.preprocessing import minmax_scale
from sklearn.model_selection import train_test_split
from keras.layers import Input, Dense
from keras.models import Model
from keras.callbacks import LambdaCallback
from keras.callbacks import ModelCheckpoint
import numpy

Using TensorFlow backend.

In [4]:
df = read_csv("train_in.csv")
Y = df

In [5]:
Y

   1  1.1  1.2  0  0.1  1.3
0  1    1    1  1    1    1
1  1    1    0  0    1    1
2  0    1    1  1    1    0
3  1    1    0  0    1    1
4  1    1    0  1    0    1
5  1    0    0  0    1    1

In [6]:
X = df.ix[:, :]

/home/hackerx/miniconda3/envs/neural/lib/python3.6/site-packages/ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

In [7]:
X

   1  1.1  1.2  0  0.1  1.3
0  1    1    1  1    1    1
1  1    1    0  0    1    1
2  0    1    1  1    1    0
3  1    1    0  0    1    1
4  1    1    0  1    0    1
5  1    0    0  0    1    1

In [8]:
True if X == Y

SyntaxError: invalid syntax (<ipython-input-8-183d3b723778>, line 1)

In [1]:
X = df.ix[:,:]

NameError: name 'df' is not defined