In [1]:
import pandas as pd

In [18]:
data = pd.read_csv("./NSL_KDD/KDDTest+.csv")
data = data.iloc[0:5,0:4 ]
data

   0   tcp   private   REJ
0  0   tcp   private   REJ
1  2   tcp  ftp_data    SF
2  0  icmp     eco_i    SF
3  1   tcp    telnet  RSTO
4  0   tcp      http    SF

In [16]:
t =pd.get_dummies(data)

,0,tcp_icmp,tcp_tcp,private_eco_i,private_ftp_data,private_http,private_private,private_telnet,REJ_REJ,REJ_RSTO,REJ_SF
0,0,0,1,0,0,0,1,0,1,0,0
1,2,0,1,0,1,0,0,0,0,0,1
2,0,1,0,1,0,0,0,0,0,0,1
3,1,0,1,0,0,0,0,1,0,1,0
4,0,0,1,0,0,1,0,0,0,0,1